/* static/principal.css */
[data-testid="stSidebar"] {
    background-color: #2e4573; /* Cor de fundo azul escuro */
    color: white; /* Cor do texto */
    transition: width 0.2s;
    overflow-x: hidden;
}


/* estilos.css */
[data-testid="stSidebarNav"] .css-16nw49e {
    color: white; /* Cor das letras */
    size: 20px;
}

